In [1]:
import pandas as pd

df = pd.read_json('Iran96-97.json')

In [9]:
df.shape

(1222, 5)

In [11]:
df.isna

<bound method DataFrame.isna of             latitude       longitude province    state        city
0     34° 31' 24.924   50° 0' 20.866    مرکزی   آشتیان      آشتیان
1     33° 40' 29.197  49° 52' 38.759    مرکزی     خمین  قورچی باشی
2      34° 41' 6.076   50° 1' 21.457    مرکزی     تفرش        تفرش
3     33° 38' 27.877   50° 4' 49.109    مرکزی     خمین        خمین
4     33° 59' 25.282  50° 40' 53.965    مرکزی   دلیجان      دلیجان
...              ...             ...      ...      ...         ...
1217  35° 53' 21.876  50° 36' 53.586    البرز  نظرآباد      تنکمان
1218  36° 10' 22.786   50° 46' 6.564    البرز   طالقان      طالقان
1219  35° 43' 28.520  50° 21' 41.321    البرز  اشتهارد     اشتهارد
1220                                    البرز    فردیس       فردیس
1221  35° 44' 54.193  50° 56' 26.804    البرز    فردیس   مشکین دشت

[1222 rows x 5 columns]>

In [12]:
df.fillna(0)

            latitude       longitude province    state        city
0     34° 31' 24.924   50° 0' 20.866    مرکزی   آشتیان      آشتیان
1     33° 40' 29.197  49° 52' 38.759    مرکزی     خمین  قورچی باشی
2      34° 41' 6.076   50° 1' 21.457    مرکزی     تفرش        تفرش
3     33° 38' 27.877   50° 4' 49.109    مرکزی     خمین        خمین
4     33° 59' 25.282  50° 40' 53.965    مرکزی   دلیجان      دلیجان
...              ...             ...      ...      ...         ...
1217  35° 53' 21.876  50° 36' 53.586    البرز  نظرآباد      تنکمان
1218  36° 10' 22.786   50° 46' 6.564    البرز   طالقان      طالقان
1219  35° 43' 28.520  50° 21' 41.321    البرز  اشتهارد     اشتهارد
1220                                    البرز    فردیس       فردیس
1221  35° 44' 54.193  50° 56' 26.804    البرز    فردیس   مشکین دشت

[1222 rows x 5 columns]

In [13]:
df.isna

<bound method DataFrame.isna of             latitude       longitude province    state        city
0     34° 31' 24.924   50° 0' 20.866    مرکزی   آشتیان      آشتیان
1     33° 40' 29.197  49° 52' 38.759    مرکزی     خمین  قورچی باشی
2      34° 41' 6.076   50° 1' 21.457    مرکزی     تفرش        تفرش
3     33° 38' 27.877   50° 4' 49.109    مرکزی     خمین        خمین
4     33° 59' 25.282  50° 40' 53.965    مرکزی   دلیجان      دلیجان
...              ...             ...      ...      ...         ...
1217  35° 53' 21.876  50° 36' 53.586    البرز  نظرآباد      تنکمان
1218  36° 10' 22.786   50° 46' 6.564    البرز   طالقان      طالقان
1219  35° 43' 28.520  50° 21' 41.321    البرز  اشتهارد     اشتهارد
1220                                    البرز    فردیس       فردیس
1221  35° 44' 54.193  50° 56' 26.804    البرز    فردیس   مشکین دشت

[1222 rows x 5 columns]>

In [14]:
clean_df = df.dropna()

In [15]:
clean_df.isna

<bound method DataFrame.isna of             latitude       longitude province    state        city
0     34° 31' 24.924   50° 0' 20.866    مرکزی   آشتیان      آشتیان
1     33° 40' 29.197  49° 52' 38.759    مرکزی     خمین  قورچی باشی
2      34° 41' 6.076   50° 1' 21.457    مرکزی     تفرش        تفرش
3     33° 38' 27.877   50° 4' 49.109    مرکزی     خمین        خمین
4     33° 59' 25.282  50° 40' 53.965    مرکزی   دلیجان      دلیجان
...              ...             ...      ...      ...         ...
1217  35° 53' 21.876  50° 36' 53.586    البرز  نظرآباد      تنکمان
1218  36° 10' 22.786   50° 46' 6.564    البرز   طالقان      طالقان
1219  35° 43' 28.520  50° 21' 41.321    البرز  اشتهارد     اشتهارد
1220                                    البرز    فردیس       فردیس
1221  35° 44' 54.193  50° 56' 26.804    البرز    فردیس   مشکین دشت

[1222 rows x 5 columns]>

In [16]:
clean_df.shape

(1222, 5)

In [17]:
clean_df.city

0           آشتیان
1       قورچی باشی
2             تفرش
3             خمین
4           دلیجان
           ...
1217        تنکمان
1218        طالقان
1219       اشتهارد
1220         فردیس
1221     مشکین دشت
Name: city, Length: 1222, dtype: object

In [18]:
clean_df.head()

         latitude       longitude province   state        city
0  34° 31' 24.924   50° 0' 20.866    مرکزی  آشتیان      آشتیان
1  33° 40' 29.197  49° 52' 38.759    مرکزی    خمین  قورچی باشی
2   34° 41' 6.076   50° 1' 21.457    مرکزی    تفرش        تفرش
3  33° 38' 27.877   50° 4' 49.109    مرکزی    خمین        خمین
4  33° 59' 25.282  50° 40' 53.965    مرکزی  دلیجان      دلیجان

In [19]:
clean_df.tail()

            latitude       longitude province    state       city
1217  35° 53' 21.876  50° 36' 53.586    البرز  نظرآباد     تنکمان
1218  36° 10' 22.786   50° 46' 6.564    البرز   طالقان     طالقان
1219  35° 43' 28.520  50° 21' 41.321    البرز  اشتهارد    اشتهارد
1220                                    البرز    فردیس      فردیس
1221  35° 44' 54.193  50° 56' 26.804    البرز    فردیس  مشکین دشت

In [20]:
clean_df.drop(['latitude', 'longitude'], axis=1, inplace=True)

In [21]:
clean_df.head()

  province   state        city
0    مرکزی  آشتیان      آشتیان
1    مرکزی    خمین  قورچی باشی
2    مرکزی    تفرش        تفرش
3    مرکزی    خمین        خمین
4    مرکزی  دلیجان      دلیجان

In [3]:
new_df = pd.read_excel('NE_Jeefo_V2.xlsx')

In [5]:
print(new_df)

     نشریه جایگاه اقتصادی، اجتماعی و فرهنگی استان ها: 1398-1394  Unnamed: 1  \
0                                                مقدمه                  NaN
1                                      تعاریف و مفاهیم                  NaN
2                                     علائم و نشانه ها                  NaN
3                             فصل 1- سرزمین و آب و هوا                  NaN
4                           1-سهم استان از  مساحت کشور                  NaN
..                                                 ...                  ...
355  3- تعداد دارندگان حق راي در انتخابات مجلس شورا...                  NaN
356  4- تعداد راي دهندگان در انتخابات مجلس شوراي اس...                  NaN
357                            5- تعداد شوراهاي اسلامي                  NaN
358     6- در صد منتخبین زنان شوراهاي اسلامي تشكيل شده                  NaN
359  7- در صد منتخبن زن در ادوار ششم تا دهم انتخابا...                  NaN

     Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5  Unnamed: 6  Unnamed: 7  \
0           NaN         NaN         NaN         NaN         NaN         NaN
1           NaN         NaN         NaN         NaN         NaN         NaN
2           NaN         NaN         NaN         NaN         NaN         NaN
3           NaN         NaN         NaN         NaN         NaN         NaN
4           NaN         NaN         NaN         NaN         NaN         NaN
..          ...         ...         ...         ...         ...         ...
355         NaN         NaN         NaN         NaN         NaN         NaN
356         NaN         NaN         NaN         NaN         NaN         NaN
357         NaN         NaN         NaN         NaN         NaN         NaN
358         NaN         NaN         NaN         NaN         NaN         NaN
359         NaN         NaN         NaN         NaN         NaN         NaN

     Unnamed: 8  Unnamed: 9 Unnamed: 10 Unnamed: 11
0           NaN         NaN         NaN         NaN
1           NaN         NaN         NaN         NaN
2           NaN         NaN         NaN         NaN
3           NaN         NaN         NaN         NaN
4           NaN         NaN         NaN         NaN
..          ...         ...         ...         ...
355         NaN         NaN         NaN         NaN
356         NaN         NaN         NaN         NaN
357         NaN         NaN         NaN         NaN
358         NaN         NaN         NaN         NaN
359         NaN         NaN         NaN         NaN

[360 rows x 12 columns]

In [6]:
new_df.shape

(360, 12)

In [7]:
new_df.head()

,نشریه جایگاه اقتصادی، اجتماعی و فرهنگی استان ها: 1398-1394,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,مقدمه,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,تعاریف و مفاهیم,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,علائم و نشانه ها,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,فصل 1- سرزمین و آب و هوا,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1-سهم استان از مساحت کشور,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
geo_df = pd.read_excel('GEO1400.xlsx')

In [9]:
geo_df

,OSTAN,Ostan_name,SHAHRESTAN,Shahrestan_name,BAKHSH,Bakhsh_name,SHRDEH,Dehestan/Shahr_name,BLKABD,CODEREC,NAME,DIAG
0,0,مرکزي,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,مرکزي,NaN
1,0,مرکزي,1.0,اراک,NaN,NaN,NaN,NaN,NaN,2,اراک,NaN
2,0,مرکزي,1.0,اراک,2.0,مرکزي,NaN,NaN,NaN,3,مرکزي,NaN
3,0,مرکزي,1.0,اراک,2.0,مرکزي,1.0,امان آباد,NaN,4,امان آباد,NaN
4,0,مرکزي,1.0,اراک,2.0,مرکزي,1.0,امان آباد,266.0,8,امان آباد,3238.0
...,...,...,...,...,...,...,...,...,...,...,...,...
104459,30,البرز,7.0,چهارباغ,2.0,رامجين,2.0,اغلان تپه,260643.0,8,زکي اباد,4107.0
104460,30,البرز,7.0,چهارباغ,2.0,رامجين,2.0,اغلان تپه,260655.0,6,کهريزک,NaN
104461,30,البرز,7.0,چهارباغ,2.0,رامجين,2.0,اغلان تپه,260660.0,6,يعقوب آباد,NaN
104462,23,تهران,13.0,پاكدشت,2.0,مركزئ,1052.0,پاکدشت 1,NaN,5,پاکدشت 1,NaN
104463,23,تهران,13.0,پاكدشت,2.0,مركزئ,1053.0,پاکدشت 2,NaN,5,پاکدشت 2,NaN

In [10]:
popularion_df = pd.read_csv('iod-02211-provincial-population-distribution-percent-f.csv')

In [11]:
popularion_df.head()

,استان,۱۳۹۵-توزیع,۱۳۹۵-رتبه,۱۳۹۶-جمعیت,۱۳۹۶-رتبه,۱۳۹۷-جمعیت,۱۳۹۷-رتبه,۱۳۹۸-جمعیت,۱۳۹۸-رتبه,۱۳۹۹ -جمعیت,۱۳۹۹ -رتبه
0,کل کشور,100.0,××,100.0,××,100.0,××,100.0,××,100/0,××
1,آذربايجان شرقي,4.9,6,4.9,6,4.9,6,4.8,6,4.8,6
2,آذربايجان غربي,4.1,8,4.1,7,4.1,7,4.1,7,4.1,7
3,اردبيل,1.6,22,1.6,22,1.6,22,1.6,22,1.6,22
4,اصفهان,6.4,3,6.4,3,6.4,3,6.4,3,6.4,3

In [12]:
popularion_df['جمعیت- 1399']

KeyError: 'جمعیت- 1399'

In [13]:
popularion_df.columns

Index(['استان', '۱۳۹۵-توزیع', '۱۳۹۵-رتبه', '۱۳۹۶-جمعیت', '۱۳۹۶-رتبه',
       '۱۳۹۷-جمعیت', '۱۳۹۷-رتبه', '۱۳۹۸-جمعیت', '۱۳۹۸-رتبه', '۱۳۹۹ -جمعیت',
       '۱۳۹۹ -رتبه'],
      dtype='object')

In [14]:
for (key, val) in popularion_df.iterrows():
    print(val['۱۳۹۹ -رتبه'])
    print(val['۱۳۹۹ -جمعیت'])

××
100/0
6
4.8
7
4.1
22
1.6
3
6.4
11
3.5
31
0.7
23
1.5
1
16.6
26
1.2
28
1.0
2
8.2
27
1.1
5
5.9
25
1.3
29
0.9
10
3.6
4
6.0
21
1.6
20
1.7
18
2.0
9
4.0
13
2.4
30
0.9
14
2.4
12
3.1
16
2.1
8
4.0
19
1.8
15
2.3
17
2.1
24
1.5

In [15]:
popularion_df.shape

(32, 11)